USE [master]
GO
/****** Object:  Database [LSONSGARDEN]    Script Date: 7/17/2023 1:36:31 PM ******/
CREATE DATABASE [LSONSGARDEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LSONSGARDEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LSON\MSSQL\DATA\LSONSGARDEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LSONSGARDEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LSON\MSSQL\DATA\LSONSGARDEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LSONSGARDEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LSONSGARDEN]
GO
/****** Object:  Table [dbo].[PlantOverallStatistic]    Script Date: 7/17/2023 1:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantOverallStatistic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
	[amount] [int] NULL,
	[picture] [nvarchar](max) NULL,
	[username] [nvarchar](50) NULL,
	[idPlant] [int] NULL,
	[status] [int] NULL,
	[seller] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantRegister]    Script Date: 7/17/2023 1:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantRegister](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[role] [int] NULL,
	[mail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantStatistic]    Script Date: 7/17/2023 1:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantStatistic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[idPlant] [int] NULL,
	[quantity] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantWarehouse]    Script Date: 7/17/2023 1:36:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantWarehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [int] NULL,
	[quantity] [real] NULL,
	[type] [bit] NULL,
	[picture] [nvarchar](max) NULL,
	[firstQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PlantOverallStatistic] ON 

INSERT [dbo].[PlantOverallStatistic] ([id], [name], [quantity], [price], [amount], [picture], [username], [idPlant], [status], [seller]) VALUES (10, N'Hoa tulip', 1, 120000, 120000, N'pics/products/loHoaTulip.jpg', N'dausitinhai', 23, 1, N'dausitinhai')
INSERT [dbo].[PlantOverallStatistic] ([id], [name], [quantity], [price], [amount], [picture], [username], [idPlant], [status], [seller]) VALUES (11, N'Cẩm chướng', 2, 750000, 1500000, N'pics/products/camChuong.jpg', N'lsonie', 6, 1, N'lsonie')
INSERT [dbo].[PlantOverallStatistic] ([id], [name], [quantity], [price], [amount], [picture], [username], [idPlant], [status], [seller]) VALUES (12, N'Cẩm tú cầu', 1, 60000, 60000, N'pics/products/camTuCau.jpg', N'lsonie', 8, 1, N'lsonie')
SET IDENTITY_INSERT [dbo].[PlantOverallStatistic] OFF
GO
INSERT [dbo].[PlantRegister] ([username], [password], [fullname], [gender], [role], [mail]) VALUES (N'dausitinhai', N'123456', N'đấu sĩ tình ái', 1, 2, N'lesoniuem03@gmail.com')
INSERT [dbo].[PlantRegister] ([username], [password], [fullname], [gender], [role], [mail]) VALUES (N'lsonie', N'20052003', N'Le Anh Son', 1, 1, N'oachxalach@gmail.com')
INSERT [dbo].[PlantRegister] ([username], [password], [fullname], [gender], [role], [mail]) VALUES (N'satthudatinh', N'123456', N'sát thủ đa tình', 0, 0, N'SonLAHE170211@fpt.edu.vn')
GO
SET IDENTITY_INSERT [dbo].[PlantStatistic] ON 

INSERT [dbo].[PlantStatistic] ([id], [username], [idPlant], [quantity]) VALUES (14, N'lsonie', 8, 2)
INSERT [dbo].[PlantStatistic] ([id], [username], [idPlant], [quantity]) VALUES (15, N'lsonie', 12, 0)
INSERT [dbo].[PlantStatistic] ([id], [username], [idPlant], [quantity]) VALUES (16, N'satthudatinh', 20, 0)
SET IDENTITY_INSERT [dbo].[PlantStatistic] OFF
GO
SET IDENTITY_INSERT [dbo].[PlantWarehouse] ON 

INSERT [dbo].[PlantWarehouse] ([id], [name], [price], [quantity], [type], [picture], [firstQuantity]) VALUES (5, N'Bàng sing', 65000, 199, 1, N'pics/products/bangSing.jpg', 200)
INSERT [dbo].[PlantWarehouse] ([id], [name], [price], [quantity], [type], [picture], [firstQuantity]) VALUES (6, N'Cẩm chướng', 750000, 198, 0, N'pics/products/camChuong.jpg', 200)
INSERT [dbo].[PlantWarehouse] ([id], [name], [price], [quantity], [type], [picture], [firstQuantity]) VALUES (7, N'Cẩm nhung', 25000, 200, 1, N'pics/products/camNhung.jpg', 200)
SET IDENTITY_INSERT [dbo].[PlantWarehouse] OFF
GO
ALTER TABLE [dbo].[PlantStatistic]  WITH CHECK ADD  CONSTRAINT [FK_PS_FROM_PR] FOREIGN KEY([username])
REFERENCES [dbo].[PlantRegister] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantStatistic] CHECK CONSTRAINT [FK_PS_FROM_PR]
GO
ALTER TABLE [dbo].[PlantStatistic]  WITH CHECK ADD  CONSTRAINT [FK_PS_FROM_PW] FOREIGN KEY([idPlant])
REFERENCES [dbo].[PlantWarehouse] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantStatistic] CHECK CONSTRAINT [FK_PS_FROM_PW]
GO
USE [master]
GO
