<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>son.filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/AddProductServlet</url-pattern>
        <url-pattern>/AddToCartServlet</url-pattern>
        <url-pattern>/DeleteItemInCartServlet</url-pattern>
        <url-pattern>/DeleteItemInWarehouse</url-pattern>
        <url-pattern>/GoToAdminPage</url-pattern>
        <url-pattern>/PageServlet</url-pattern>
        <url-pattern>/IncreaseItemInCartServlet</url-pattern>
        <url-pattern>/LogoutServlet</url-pattern>
        <url-pattern>/PurchaseServlet</url-pattern>
        <url-pattern>/RemoveItemInCartServlet</url-pattern>
        <url-pattern>/UpdateItemInWarehouse</url-pattern>
        <url-pattern>/ViewCartServlet</url-pattern>
        <url-pattern>/TemplateShop.jsp</url-pattern>
        <url-pattern>/TemplateSupport.jsp</url-pattern>
        <url-pattern>/TemplateContact.jsp</url-pattern>
        <url-pattern>/TemplateAboutUs.jsp</url-pattern>
        <url-pattern>/TemplateAccountManager.jsp</url-pattern>
        <url-pattern>/TemplateAddProduct.jsp</url-pattern>
        <url-pattern>/TemplateAdminMainControllerPage.jsp</url-pattern>
        <url-pattern>/TemplateAdminPage.jsp</url-pattern>
        <url-pattern>/TemplateCheckMail.jsp</url-pattern>
        <url-pattern>/TemplateContact.jsp</url-pattern>
        <url-pattern>/TemplateEnterCaptcha.jsp</url-pattern>
        <url-pattern>/TemplateForgetPassword.jsp</url-pattern>
        <url-pattern>/TemplateIncreaseQuantity.jsp</url-pattern>
        <url-pattern>/TemplateOrderSuccessfully.jsp</url-pattern>
        <url-pattern>/TemplateOrverallStatistic.jsp</url-pattern>
        <url-pattern>/TemplatePreSignUp.jsp</url-pattern>
        <url-pattern>/TemplateSetNewPassword.jsp</url-pattern>
        <url-pattern>/TemplateShowDetail.jsp</url-pattern>
        <url-pattern>/TemplateShowOrders.jsp</url-pattern>
        <url-pattern>/TemplateSignUp.jsp</url-pattern>
        <url-pattern>/TemplateUpdateAccount.jsp</url-pattern>
        <url-pattern>/TemplateUpdateProduct.jsp</url-pattern>
        <url-pattern>/TemplateViewCart.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>son.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>son.controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>son.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>son.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriseServlet</servlet-name>
        <servlet-class>son.controller.CategoriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>son.controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemInCartServlet</servlet-name>
        <servlet-class>son.controller.DeleteItemInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncreaseItemInCartServlet</servlet-name>
        <servlet-class>son.controller.IncreaseItemInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemInWarehouse</servlet-name>
        <servlet-class>son.controller.DeleteItemInWarehouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToAdminPage</servlet-name>
        <servlet-class>son.controller.GoToAdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemInWarehouse</servlet-name>
        <servlet-class>son.controller.UpdateItemInWarehouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>son.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>son.controller.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemInCartServlet</servlet-name>
        <servlet-class>son.controller.RemoveItemInCartServlet</servlet-class>++
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>son.controller.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>son.controller.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>son.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordinateServlet</servlet-name>
        <servlet-class>son.controller.CoordinateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToAccountManagement</servlet-name>
        <servlet-class>son.controller.GoToAccountManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet2</servlet-name>
        <servlet-class>son.controller.SignupServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountInDatabase</servlet-name>
        <servlet-class>son.controller.DeleteAccountInDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountInDatabase</servlet-name>
        <servlet-class>son.controller.UpdateAccountInDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToAccountManagement2</servlet-name>
        <servlet-class>son.controller.GoToAccountManagement2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverallStatisticServlet</servlet-name>
        <servlet-class>son.controller.OverallStatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncreaseQuantityServlet</servlet-name>
        <servlet-class>son.controller.IncreaseQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>son.controller.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>son.controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNewPasswordServlet</servlet-name>
        <servlet-class>son.controller.SetNewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrdersServlet</servlet-name>
        <servlet-class>son.controller.ShowOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistoryServlet</servlet-name>
        <servlet-class>son.controller.ShowHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>son.controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemInCartServlet</servlet-name>
        <url-pattern>/DeleteItemInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncreaseItemInCartServlet</servlet-name>
        <url-pattern>/IncreaseItemInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemInWarehouse</servlet-name>
        <url-pattern>/DeleteItemInWarehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToAdminPage</servlet-name>
        <url-pattern>/GoToAdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemInWarehouse</servlet-name>
        <url-pattern>/UpdateItemInWarehouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemInCartServlet</servlet-name>
        <url-pattern>/RemoveItemInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriseServlet</servlet-name>
        <url-pattern>/CategoriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/PageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinateServlet</servlet-name>
        <url-pattern>/CoordinateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToAccountManagement</servlet-name>
        <url-pattern>/GoToAccountManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet2</servlet-name>
        <url-pattern>/SignupServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountInDatabase</servlet-name>
        <url-pattern>/DeleteAccountInDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountInDatabase</servlet-name>
        <url-pattern>/UpdateAccountInDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToAccountManagement2</servlet-name>
        <url-pattern>/GoToAccountManagement2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverallStatisticServlet</servlet-name>
        <url-pattern>/OverallStatisticServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncreaseQuantityServlet</servlet-name>
        <url-pattern>/IncreaseQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNewPasswordServlet</servlet-name>
        <url-pattern>/SetNewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrdersServlet</servlet-name>
        <url-pattern>/ShowOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistoryServlet</servlet-name>
        <url-pattern>/ShowHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>TemplateIndex.jsp</welcome-file>
    </welcome-file-list>
</web-app>
